extends layout

block content

    div.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
        h1.display-4 liste de cadeaux
    div.container
        div.card-deck.mb-3.text-center
            each list in wishLists
                div.card.mb-4.box-shadow
                    div.card-header
                        h4.card-title.pricing-card-title #{list.name}

                    div.card-body
                        ul.list-unstyled.mt-3.mb-4
                            each wish in list.cards
                                li #{wish.name}
                                    form.form-horizontal(name='gift-pick', action='/',method='post')
                                        input.input.hidden(name='cardId',type='text',value="#{wish.id}" hidden)
                                        input.takeButtonSubmit.btn.btn-lg.btn-block.btn-outline-primary(type='submit',value="J'offre ça!")

    div.container
        div.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
            h1.display-4 Qui offre quoi pour le moment?
    div.container
        div.card-deck.mb-3.text-center
            each doneList in doneLists
                div.card.mb-4.box-shadow
                    div.card-header
                        h4.card-title.pricing-card-title #{doneList.name}
                    div.card-body
                        ul.list-unstyled.mt-3.mb-4
                            each dejaPris in doneList.cards
                                li #{dejaPris.name}
    script(src="./public/scripts/linkify-html.min.js") 
    script.
        $(document).ready(function(){
            /// linkify some shit
            $( "li" ).each(function( index ) {
                $( this ).text(linkifyHtml($( this ).text()))
            });
            $('.takeButtonSubmit').click(function(event){
                event.preventDefault()
                console.log(event)
                let result = prompt("Qui es-tu? (Juste pour savoir qui offre)","")

                var data = {
                    'offreur':result,
                    'cardId':$(event.target).parent().children("input[name=cardId]")[0].value
                }
                $.post('/',data,function(){
                    location.reload()
                })
            })
        })